<div ng-controller="SentryAdminController as sentryAdminUi">
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <nav class="navbar navbar-default col-sm-12">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa {{sentryAdminUi.currentPageView.icon}}"></i>&nbsp;&nbsp;{{ sentryAdminUi.currentPageView.title}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="view in sentryAdminUi.pageViews"><a type="button" ng-click="sentryAdminUi.changeView(view.name)"><i class="fa {{view.icon}}"></i>&nbsp;&nbsp;{{view.title}}</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form" ng-show="sentryAdminUi.currentPageView.name === 'list'">
                    <div class="form-group">
                        <select class="form-control" ng-model="sentryAdminUi.filter">
                            <option value="all" ng-selected="sentryAdminUi.filter === 'all'">Show assigned and available</option>
                            <option value="assigned" ng-selected="sentryAdminUi.filter === 'assigned'">Show assigned only</option>
                            <option value="available" ng-selected="sentryAdminUi.filter === 'available'">Show available only</option>
                        </select>
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <button class="btn btn-default" type="button" ng-click="sentryAdminUi.load()">Load</button>
                    </div>
                </form>
                <form class="navbar-form" ng-show="sentryAdminUi.currentPageView.name === 'search'">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="sentryAdminUi.searchText" placeholder="Enter IMEI pattern to search for">
                    </div>
                    <div class="form-group">
                        &nbsp;
                        <button class="btn btn-default" type="button" ng-click="sentryAdminUi.search()">Search</button>
                    </div>
                </form>
            </nav>
        </div>
    </div>
    <div class="row" ng-show="sentryAdminUi.currentPageView.name === 'assign'">
        <div class="col-sm-6 col-sm-offset-3">
            <br/>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <i class="fa fa-exclamation-circle"></i> Assign Sentries to account
                </div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Account</label>
                            <div class="col-sm-6">
                                <select class="form-control" ng-options="account as account.name for account in sentryAdminUi.accounts track by account.id" ng-model="sentryAdminUi.assignAccount"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">List of IMEIs</label>
                            <div class="col-sm-6">
                                <textarea class="form-control" rows="10" ng-model="sentryAdminUi.assignImeiText"></textarea>
                                <p class="help-block">Enter up to 40 IMEIs; one IMEI per row</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Backfill data?</label>
                            <div class="col-sm-6">
                                <input type="checkbox" ng-model="sentryAdminUi.assignIsBackfill">
                            </div>
                        </div>
                        <div class="form-group" ng-show="sentryAdminUi.assignIsBackfill">
                            <label class="col-sm-3 control-label">From</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="sentryAdminUi.assignBackfillFrom" placeholder="yyyy-mm-ddThh:mm">
                                <p class="help-block">Enter the date to begin backfilling from</p>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button role="button" class="btn btn-default" ng-click="sentryAdminUi.assignSubmit()">Submit</button>
                            <button role="button" class="btn btn-default" ng-click="sentryAdminUi.assignCancel()">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="sentryAdminUi.removeInProgress">
        <div class="col-sm-6 col-sm-offset-3">
            <br/>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <i class="fa fa-exclamation-triangle"></i> Remove Sentry
                </div>
                <div class="panel-body">
                    <p>Are you sure you want to remove <strong>{{sentryAdminUi.removeAssignment.imei}}</strong> from <strong>{{sentryAdminUi.removeAssignment.latestAssignment.accountName}}</strong>?</p>
                    <div class="pull-right">
                        <button role="button" class="btn btn-default" ng-click="sentryAdminUi.removeSubmit()">Yes</button>
                        <button role="button" class="btn btn-default" ng-click="sentryAdminUi.removeCancel()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="sentryAdminUi.currentPageView.name != 'assign' && !sentryAdminUi.removeInProgress">
        <div class="col-sm-12">
            <nav class="pull-right" aria-label="Page navigation" ng-show="sentryAdminUi.totalPages > 1">
                <ul class="pagination">
                    <li><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li ng-repeat="n in range(0,sentryAdminUi.totalPages)"><a href="#" aria-label="Page {{n}}"><span aria-hidden="true">{{n}}</span></a></li>
                    <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                </ul>
            </nav>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="20">#</th>
                    <th width="60">
                        <!--<button class="btn btn-sm btn-default" type="button" id="btn-addAccount" ng-click="sentryAdminUi.addAccountBegin()">-->
                        <!--New-->
                        <!--</button>-->
                    </th>
                    <th>Sentry</th>
                    <th>
                        Is Assigned&nbsp;
                    </th>
                    <th>Account</th>
                    <th>Date Assigned</th>
                    <th>Date Removed</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="sentryAdminUi.latestList.length === 0" class="warning">
                    <td></td>
                    <td colspan="6">There are no records</td>
                </tr>
                <tr ng-show="sentryAdminUi.latestList.length != 0" ng-repeat="item in sentryAdminUi.latestList">
                    <td width="20">{{ $index + 1 }}</td>
                    <td width="60">
                        <div class="dropdown">
                            <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="dropdown{{$index}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bars"></i>&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdown{{$index}}">
                                <li ng-show="item.isCurrentlyAssigned"><a ng-click="sentryAdminUi.removeBegin(item)">Remove</a></li>
                            </ul>
                        </div>
                    </td>                    <td>{{ item.imei }}</td>
                    <td>{{ item.isCurrentlyAssigned ? 'yes' : 'no' }}</td>
                    <td>{{ item.latestAssignment ? item.latestAssignment.accountName : '' }}</td>
                    <td><span local-datetime utc-datetime="{{ item.latestAssignment ? item.latestAssignment.timeOfAssignment : null}}" date-format="L" time-format="LTS"></span></td>
                    <td><span local-datetime utc-datetime="{{ item.latestAssignment ? item.latestAssignment.timeOfRemoval : null}}" date-format="L" time-format="LTS"></span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>